@charset "utf-8";

/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
:root {
    /*Brand Colors*/
    --links: #1993D1;
    --buttons: #c7d3de;
    --accent: #ffcb6b;
    --accentdark:#d35400;
    --background: #f2f2f2;

    /*Text Colors*/
    --htext:#1e272e;
    --ptext:#343434;
    --bText:var(--links);
    --textDecor:var(--accentdark);
    
    /*Button Colors*/
    --hovertext:var(--accent);

    /*Font Sizes*/
    --multiplier:1;
    --pSize:calc(16px * var(--multiplier));
    --h1Size:calc(20px * var(--multiplier));
    --h3Size:calc(18px * var(--multiplier));

    /*Other Properties*/
    --boxShadow:2px 2px 10px rgba(0, 0, 0, 0.25);
    --borderRadius: 12px;

    /*Grid Widths*/
    --wrapWidth:1080px;
    --closewidth: 10px;
    --gridwidth: 30px;
}
/*Fonts*/
@font-face {
	font-family: 'poppins';
	src: url('fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'poppins-header';
	src: url('fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}
/*Element Defaults and Overrides*/
html{
    width:100%; /*chromium engine bug fix*/
    height:auto;
}
img {
    height: auto;
    max-width: var(--wrapWidth);
}
ol, ul{
    margin-left: 35px;
}
/*Font Configurations*/
h1{
    font-family: "poppins-header", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:var(--h1Size);
    margin:0px;
    color: var(--hText);
}
h3{
    font-family: "poppins-header", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:var(--h3Size);
    color: var(--hText);
}
p{
    font-family: "poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: var(--pSize);
    font-style: normal;
    color: var(--pText);
}
li{
    font-family: "poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: var(--pSize);
    font-style: normal;
    color: var(--pText);
}
a{
    font-family: "poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color:var(--background);
    width:100%;
}
@media screen and (orientation:landscape){
    h1{
        font-optical-sizing: auto;
        margin:0px;
    }
    h3{
        font-optical-sizing: auto;
    }
    p{
        font-optical-sizing: auto;
    }
    a{
        font-optical-sizing: auto;
    }
}
.index h1{
    margin: 0 0 var(--closewidth) 0;
}
body{
    background-color: var(--background);
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    width:100%;
    height:600px;
    max-width: var(--wrapWidth);
    margin: 0 auto;
}
.hide{
    display:none;
}
.red{
    background-color: red;
}
.button, .dropdown{
    font-optical-sizing: auto;
    margin: var(--closewidth) 0px;
    padding: var(--closewidth) var(--closewidth);
}
.dropdown span{
    color: var(--links);
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:var(--h3Size);
}
/*Begin Navbar*/
nav.nav{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    height:500px;
}
.logo{
    display:flex;
    padding-bottom: var(--gridwidth);
}
.logo img{
    width: 100%;
    height:auto;
}
.core-nav{
    display:flex;
    flex-direction: column;
}
.listitems{
    border-radius: var(--borderRadius);
    margin: 0 auto;
    max-width: var(--wrapWidth);
    width:100%;
    list-style: none;
    max-height:350px;
}
li.links{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: var(--closewidth);
}
li.links a, .button a{
    font-size: var(--h1Size);
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding:10px 2vw;
    text-align: center;
    background-color: var(--foreground);
    border-radius: var(--borderRadius);
    color: var(--background);
    box-shadow: var(--boxShadow);
}
li.links a:hover, .button a:hover{
    background-color: var(--hoverbg);
    color: var(--hovertext);
}
li.links.active a{
    background-color: var(--active);
    color:var(--background);
}
@media screen and (min-width:545px){
    .listitems{
        display:flex;
        flex-direction: row;
        height:auto;
        justify-content: space-around;
        margin:0;
    }
    li.links{
        width: 25vw;
        max-width:250px;
    }
    li.links a, .button a{
        width:100%;
        height:100%;
        padding:10px 0;      
    }
    .nav{
        padding: var(--gridwidth);
    }
}
/*end Navbar*/

.marginclass{
    margin:0px 20px;
}
.d-header{
    position:relative;
    display:none;
    overflow: hidden;
}
.image-jumbo{
    position:absoulute;
    left:0px;
    top:0px;
}
.rel-div{
    position:relative;
}
.center-div{
    margin:auto;
    text-align:center;
}
.yellow a{
    color:rgba(255,0,4,1.00);
}
.tours{
    min-height:750px;
}
.main-nav{
    position:absolute;
    top:50px;
    width:100%;
	text-align:right;
	z-index: 200;
}
.d-logo{
    position:absolute;
    top:0px;
    left:100px;
	padding:0px;
	height:auto;
    z-offset:200;
}
.band{
	background-color:rgba(160,221,136,0.60);
	float:right;
	margin:auto;
	text-align:right;
    z-index:200;
}
.dropdown {
    position: relative;
    display: inline-block;
    background-color:rgba(255,255,255,0.60);
    color:rgba(0,0,0,1.00);
    border-radius:15px;
    text-align:center;
    margin:0px 5px;
}
.donate a{
    color:rgba(0,0,0,1.00);
}
.dropdown-content {
 	display: none;
 	position: absolute;
	width:1000px;
	height:380px;
	border-radius:15px;
 	background-color: rgba(255,255,255,0.80);
 	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	padding: 12px 16px;
  	z-index: 1;
}

.menu-item{
    display: inline-block;
}
.menu-item h3{
    word-wrap: break-word;
}
.visit{
    top:40px;
	left:-300px;
}
.support{
    top:40px;
	left:-500px;
}
.dd-text{
    color:rgba(0,0,0,1.00);
}
.menu-item a{
    padding:5px;
    text-decoration: none;
}
.menu-item h3{
    padding:5px 5px 5px 5px;
    font-size:1.0em;
}
.dd-text h3, .dd-menu a{
    text-align:left;
}
.dd-text a, .dd-menu a{
    text-decoration:none;
	display:block;
	border-radius:5px;
	transition-timing-function:ease;
    transition: background-color 0.5s;
    transition: color 0.5s;
}

.dd-text a, .dd-menu a{
	color:rgba(213,0,46,1.00);
}
.dd-text a:hover , .dd-menu a:hover {
    background-color: rgba(213,0,46,1.00);
    color:rgba(255,255,255,1.00);
}
/* Logo */
.logo{
	display: inline-block;
    width:200px;
    height:auto;
	margin:5px;
}
