@charset "utf-8";

/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
:root {
    /*Brand Colors*/
    --links: #1993D1;
    --buttons: #c7d3de;
    --accent: #ffcb6b;
    --accentdark:#d35400;
    --background: #f2f2f2;

    /*Text Colors*/
    --htext:#1e272e;
    --ptext:#343434;
    --bText:var(--links);
    --textDecor:var(--accentdark);
    
    /*Button Colors*/
    --hovertext:var(--accent);

    /*Font Sizes*/
    --multiplier:1;
    --pSize:calc(16px * var(--multiplier));
    --h1Size:calc(20px * var(--multiplier));
    --h3Size:calc(18px * var(--multiplier));

    /*Other Properties*/
    --boxShadow:2px 2px 10px rgba(0, 0, 0, 0.25);
    --borderRadius: 12px;

    /*Grid Widths*/
    --closewidth: 10px;
    --gridwidth: 30px;
}
/*Fonts*/
@font-face {
	font-family: 'poppins';
	src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'poppins-header';
	src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
/*Element Defaults and Overrides*/
html{
    width:100%; /*chromium engine bug fix*/
    height:auto;
}
ol, ul{
    margin-left: 35px;
}
/*Font Configurations*/
h1{
    font-family: "poppins-header", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:var(--h1Size);
    margin:0px;
    color: var(--hText);
}
h3{
    font-family: "poppins-header", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:var(--h3Size);
    margin:0px;
    color: var(--hText);
}
p{
    font-family: "poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: var(--pSize);
    font-style: normal;
    color: var(--pText);
}
li{
    font-family: "poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: var(--pSize);
    font-style: normal;
    color: var(--pText);
}
@media screen and (orientation:landscape){
    h1{
        font-optical-sizing: auto;
        margin:0px;
    }
    h3{
        font-optical-sizing: auto;
    }
    p{
        font-optical-sizing: auto;
    }
    a{
        font-optical-sizing: auto;
    }
}
body{
    background-color: var(--background);
}
.wrapper{
    display: flex;
    flex-direction: column;
    height:max-content;
    max-width: var(--wrapWidth);
    margin: 0 auto;
}
.hide{
    display:none;
}
.red{
    background-color: red;
}
/*Begin Navbar*/
.dropdown{
    font-optical-sizing: auto;
    margin: var(--closewidth) 0px;
    padding: var(--closewidth) var(--closewidth);
}
.dropdown span{
    color: var(--links);
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:var(--h3Size);
}
nav.nav{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--closewidth);
    padding:0px;
}
.core-nav{
    display:flex;
    flex-direction: column;
}
.dropdown {
    cursor: pointer;
    position: relative;
    background-color: none;
    color:rgba(0,0,0,1.00);
    border-radius:15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align:center;
    margin:var(--closewidth);
    transition:background-color 0.3s ease-in;
    -webkit-transition:background-color 0.3s ease-in;
    -moz-transition:background-color 0.3s ease-in;
    -ms-transition:background-color 0.3s ease-in;
    -o-transition:background-color 0.3s ease-in;
}
.dropdown:hover{
    background-color: var(--buttons);
}
.dropdown.dropdown.dd-selected{
    background-color: var(--buttons);
}
.dropdown.donate{
    background-color: var(--accent);
}
.dropdown.donate:hover{
    box-shadow: 0px 0px 15px 1px var(--links);
}
.dropdown-content {
	display: flex;
	height:max-content;
    margin:var(--gridwidth), 0px
}
.menu-item{
    display: flex;
}
.dd-text{
    color:rgba(0,0,0,1.00);
}
.menu-item h3{
    padding:5px 5px 5px 5px;
}
.dd-text h3{
    text-align:left;
}
.dd-menu a{
    display:none;
    font-family: "poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color:var(--links);
    margin:0px;
    text-decoration: none;
}
.dd-menu.donate, .dd-menu.donate a{
    display:flex;
    justify-content: center;
    padding:0px;
    margin:0px;
}
.dd-menu a .menu-item h3{
    position:relative
}
.dd-menu.donate a::before, .dd-menu a .menu-item h3::before{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: var(--accentdark);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.dd-menu a .menu-item h3::before{
    bottom: 4px;
    background-color: var(--background);
}
.dd-menu a:hover::before, .dd-menu a .menu-item h3:hover::before {
    visibility: visible;
    transform: scaleX(1);
    color: white;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.dropdown.dd-selected span{
    background-color: var(--background);
    padding:3px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: var(--closewidth) 15px var(--gridwidth) 15px;
}
.dropdown.dd-selected .dropdown-content{
    padding:10px, 0px, 0px, 0px;
    margin: var(--closewidth) 0px 0px 0px;
}
.dropdown.dd-selected .dd-menu a{
    display:block;
}
@media screen and (min-width: 481px) {
    .core-nav{
        flex-direction: row;
        flex-wrap:wrap;
    }
    .dropdown{
        height:50px;
    }
    .dropdown.dd-selected{
        height:max-content;
    }
}
@media screen and (min-width: 1025px) {
    .core-nav{
        flex-direction: row;
        flex-wrap:wrap;
    }
    .dropdown{
        height:50px;
        width:300px;
    }
    .dropdown.dd-selected{
        border-radius: 15px 15px 0px 0px;
        -webkit-border-radius: 15px 15px 0px 0px;
        -moz-border-radius: 15px 15px 0px 0px;
        -ms-border-radius: 15px 15px 0px 0px;
        -o-border-radius: 15px 15px 0px 0px;
}
    .dropdown.dd-selected .dropdown-content{
        position:absolute;
        left:-0px;
        width:300px;
        z-index: 1000;
        background-color: var(--buttons);
        border-radius: 0px 0px 15px 15px;
        -webkit-border-radius: 0px 0px 15px 15px;
        -moz-border-radius: 0px 0px 15px 15px;
        -ms-border-radius: 0px 0px 15px 15px;
        -o-border-radius: 0px 0px 15px 15px;
}
    
}
/*end Navbar*/