<header>
    <a href="../index.html" aria-label="Home Page">
        <img src="../../assets/images/logo.png" alt="Logo" class="logo">
    </a>

    <nav>
        <button class="menu-toggle" aria-label="Toggle navigation">
            &#9776; <!-- Menu Icon -->
        </button>
        <ul class="nav-links">
            <li><a href="../index.html" aria-label="Home Page">Home</a></li>
            <li><a href="../pages/fundamentals.html" aria-label="Fundamentals">Fundamentals</a></li>
            <li><a href="../pages/encryption.html" aria-label="Encryption">Encryption</a></li>
            <li><a href="../pages/password.html" aria-label="Password">Password</a></li>
            <li><a href="../pages/security.html" aria-label="Cyber Threats & Mobile Security">Security</a></li>
            <li><a href="../pages/securing-hardware.html" aria-label="Securing Hardware">Securing Hardware</a></li>
            <li><a href="../pages/cybercrimes.html" aria-label="Cybercrimes">Cybercrimes</a></li>
            <li><a href="../pages/miscellaneous.html" aria-label="Miscellaneous">Miscellaneous</a></li>
            <li><a href="../pages/contact.html" aria-label="Contact">Contact</a></li>
        </ul>
    </nav>
</header>