/* Container principal dos cards */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

/* Seção das subcategorias */
.subcategory-section {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 1rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subcategory-section h2 {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #333;
}

/* Container dos cards */
.subcategory-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo dos cards */
.card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 45%;
    min-width: 280px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 0.5rem 0 0 0.5rem;
    object-fit: contain;
    background-color: #cac8c8;
}

.card-content {
    flex: 1;
    padding: 0 0.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .card-content h3 {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.card .card-content h3 a {
    text-decoration: none;
}

.card .card-content h3 a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.card .card-content p {
    font-size: 0.8rem;
    color: #555;
    margin: 0;
    text-overflow: ellipsis;
}

/* Link alinhado à direita */
.card-content a {
    align-self: flex-end;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--primary-color);
}

/* Ajuste para quando uma categoria tiver apenas um card */
.subcategory-container:has(.card:nth-child(1):last-child) {
    display: flex;
    justify-content: space-between;
}

.subcategory-container:has(.card:nth-child(1):last-child) .card {
    width: calc(50% - 1rem);
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        flex: 1;
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        gap: 0.5rem;
    }

    .card img {
        width: 120px;
        height: 120px;
    }

    .card-content {
        padding-left: 0;
    }
}