.hero-content {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    text-align: center;
    color: var(--secondary-color);
}

.hero-content h1 {
    margin-bottom: 0.2rem;
}

.contact-container {
    display: flex;
    align-items: center;
    max-width: 900px;
    height: 60vh;
    margin: 50px auto;
    padding: 0;
    background: white;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    height: 100%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.contact-info h2 {
    color: var(--text-color);
    margin-bottom: 3rem;
}

.contact-info p {
    margin: 10px 0;
    color: var(--text-color);
}

.contact-info a {
    color: var(--text-color);
    text-decoration: none;
}

.contact-form {
    flex: 1;
    margin: 1.5rem;
}

.contact-form h2 {
    color: var(--primary-color);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 0.8rem;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--secondary-color);
}

#formMessage {
    margin-top: 15px;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    border-radius: var(--border-radius);
    display: none;
}

.success {
    color: white;
    background-color: #28a745;
    display: block;
}

.error {
    color: white;
    background-color: #dc3545;
    display: block;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        height: auto;
        max-width: 90%;
        margin: 20px auto;
        margin-bottom: 120px;
    }

    .contact-info {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        text-align: center;
        padding: 20px;
    }

    .contact-form {
        padding: 1rem;
        margin: 1rem;
        width: 100%;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 1rem;
    }

    .contact-form button {
        font-size: 1rem;
        padding: 12px;
    }
}