header {
    background: var(--primary-color);
    color: white;
    padding: 1rem 0;
    text-align: center;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 8rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    cursor: pointer;
}

nav ul li a {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    overflow: hidden;
    padding-bottom: 2px;
    transition: color 0.3s ease-out;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--hover-color);
    transition: width 0.3s ease-out, left 0.3s ease-out;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 10px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 2rem;
        background: none;
        border: none;
        color: var(--text-color);
        cursor: pointer;
        z-index: 1001; /* Garante que fique acima de tudo */
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9); /* Fundo escuro semi-transparente */
        backdrop-filter: blur(5px);
        opacity: 0;
        visibility: hidden;
        gap: 1rem;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
    }
}